

<div class="container">

    <div class="row">

        <div class="col-lg-6">
            <div class="uk-margin uk-card uk-card-default uk-card-hover  animate__animated animate__fadeInDown">
                <div class="uk-card-body">
                    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                         data-src="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80"
                         data-srcset="https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1490822180406-880c226c150b?fit=crop&w=1300&h=866&q=80 1300w"
                         data-sizes="(min-width: 650px) 650px, 100vw" uk-img>

                        <!--<img class="uk-border-circle img-responsive" src="https://getuikit.com/docs/images/avatar.jpg" uk-img>-->
                        <h1> Entertainment </h1>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <a (click)="goToCat('entertainment')" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="uk-margin uk-card uk-card-default uk-card-hover animate__animated animate__fadeInRight">
                <div class="uk-card-body">
                    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                         data-src="https://images.unsplash.com/photo-1605036927141-938ec066488f?fit=crop&w=650&h=433&q=80"
                         data-srcset="https://images.unsplash.com/photo-1605036927141-938ec066488f?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1605036927141-938ec066488f?fit=crop&w=1300&h=866&q=80 1300w"
                         data-sizes="(min-width: 650px) 650px, 100vw" uk-img>

                        <!--<img class="uk-border-circle img-responsive" src="https://getuikit.com/docs/images/avatar.jpg" uk-img>-->
                        <h1> Health </h1>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <a (click)="goToCat('health')" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </div>

    </div>

    <legend> &nbsp; </legend>

    <div class="row">
        <div class="col-lg-6">
            <div class="uk-margin uk-card uk-card-default uk-card-hover animate__animated animate__fadeInLeft">
                <div class="uk-card-body">
                    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                         data-src="https://images.unsplash.com/photo-1604864386498-2b2fd1b2bd2d?fit=crop&w=650&h=433&q=80"
                         data-srcset="https://images.unsplash.com/photo-1604864386498-2b2fd1b2bd2d?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1604864386498-2b2fd1b2bd2d?fit=crop&w=1300&h=866&q=80 1300w"
                         data-sizes="(min-width: 650px) 650px, 100vw" uk-img>

                        <!--<img class="uk-border-circle img-responsive" src="https://getuikit.com/docs/images/avatar.jpg" uk-img>-->
                        <h1> Science </h1>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <a (click)="goToCat('science')" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="uk-margin uk-card uk-card-default uk-card-hover animate__animated animate__fadeInUp">
                <div class="uk-card-body">
                    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
                         data-src="https://images.unsplash.com/photo-1604881989793-466aca8dd319?fit=crop&w=650&h=433&q=80"
                         data-srcset="https://images.unsplash.com/photo-1604881989793-466aca8dd319?fit=crop&w=650&h=433&q=80 650w,
                  https://images.unsplash.com/photo-1604881989793-466aca8dd319?fit=crop&w=1300&h=866&q=80 1300w"
                         data-sizes="(min-width: 650px) 650px, 100vw" uk-img>

                        <!--<img class="uk-border-circle img-responsive" src="https://getuikit.com/docs/images/avatar.jpg" uk-img>-->
                        <h1> Technology </h1>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <a (click)="goToCat('technology')" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </div>

    </div><!-- Row -->

</div>